.classpath
.project
.settings
.checkstyle
bin
out
.DS_Store
/target/
/target-eclipse/
*.iml
/.idea
log.txt
/target-eclipse/
/src/main/resources/log4j.xml
/src/main/resources/logback.xml
logs/
/src/main/java/test/
deploy-fast*
/deploy-test-768-sjh.sh
